build.ninja
_build/
_build.ninja.d
_common_build.ninja
.ninja_deps
.ninja_log

__pycache__/
.eggs/
*.egg-info/
.tox/

.cache/

*.un~
.gdb_history

precompiled_header
compile_commands.json

doc/generated/

playground
