tox
sphinx
sphinx_bootstrap_theme
m2r2
breathe

pytest
pytest-asyncio
pytest-html
pytest-cov
pytest-line-profiler
pytest-pycodestyle
pytest-pydocstyle
pytest-pep8
pytest-pylint
pytest-randomly
pytest-runner
pprofile
cppyy
